
/* Imagen de Fondo Verde */
body {
  margin: 0px;
}

html  {
  background-image: url("img/Fondo_verde.png");
/*  background-size: cover; */
}


/* Box blanco */
#root {
  background:  whitesmoke;
      height: 100%; 
      right: 2%; /* borde derecho */
      left: 2%; /* borde izquierdo */
      top: 0; /* La Posicionamos arriba */
  }

#contentOfCards {
  border: 1px solid black;
  justify-items: center;
}

/* Estilo de cada carta de Pokémon */
.card-style {
  display: inline-block;
  background-color: #ebebeb;
  width: 12em;
  margin: 20px 15px 20px 15px;
  padding: 15px 20px 15px 20px;
  justify-items: center;
  text-align: center;
  border-radius: 20px;
  font-family: "Ramabhadra", Helvetica;
  color: #414141;
  box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
}

/* Ver más en las cartas */
.see-more {
  color: #4ab483
}

/* Modal de cada Pokémon individual */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 20%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
  border: 1px solid #888;
  color: #414141;
}

/*Texto de las descripciones en el modal */
.pokemon-description {
  text-align: center;
  border-radius: 20px;
  font-family: "Ramabhadra", Helvetica;
  
}

/* X de cerrar el modal*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

