
/* Imagen de Fondo Verde */
body {
  margin: 0px;
}

html  {
  background-image: url("img/Fondo_verde.png");
/*  background-size: cover; */
}


/* Box blanco */
#root {
  background:  whitesmoke;
      height: 100%; 
      right: 2%; /* borde derecho */
      left: 2%; /* borde izquierdo */
      top: 0; /* La Posicionamos arriba */
  }

#contentOfCards {
  border: 1px solid black;
  justify-items: center;
}

.card-style {
  display: inline-block;
  background-color: #ebebeb;
  height: 226px;
  width: 150px;
  margin: 20px 15px 20px 15px;
  padding: 15px 15px 15px 15px;
  justify-items: center;
  text-align: center;
  border-radius: 20px;
  font-family: "Candara", Helvetica;
  color: #414141;
  box-shadow: 0 4px 8px 0 rgba(27, 27, 27, 0.2), 0 6px 20px 0 rgba(27, 27, 27, 0.19);
}